<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        
        <form class="mb-1">
          <input class="form-control" placeholder="Filter nodes" #filter (keyup)="filterNodes(filter.value, tree)">
        </form>

        <tree-root
          #tree
          [nodes]="nodes"
          [options]="customTemplateStringOptions"
          [focused]="true"
          (onEvent)="onEvent($event)">
          <ng-template #treeNodeTemplate let-node>
            <span title="{{node.data.subTitle}}">{{ node.data.name }}</span>
            <span class="pull-right">{{ childrenCount(node) }}</span>
            <button (click)="go($event)">Custom Action</button>
          </ng-template>
          <ng-template #loadingTemplate>Loading, please hold....</ng-template>
        </tree-root>
      </div>

      <div class="col-md-8">
        <p class="ff-headers text-uppercase mb-3 fw-600">Keys:</p>
        <p>down | up | left | right | space | enter</p>
        
        <p class="ff-headers text-uppercase mb-3 fw-600">Mouse:</p>
        <p>click to select | shift+click to select multi</p>
        
        <p class="ff-headers text-uppercase mb-3 fw-600">API:</p>
        <button class="btn btn-secondary" (click)="tree.treeModel.focusNextNode()">next node</button>
        <button class="btn btn-secondary" (click)="tree.treeModel.focusPreviousNode()">previous node</button>
        <button class="btn btn-secondary" (click)="tree.treeModel.focusDrillDown()">drill down</button>
        <button class="btn btn-secondary" (click)="tree.treeModel.focusDrillUp()">drill up</button>
        <button class="btn btn-secondary" (click)="customTemplateStringOptions.allowDrag = true">allowDrag</button>
        <p></p>
        <button class="btn btn-secondary"
          [disabled]="!tree.treeModel.getFocusedNode()"
          (click)="tree.treeModel.getFocusedNode().toggleActivated()">
          {{ tree.treeModel.getFocusedNode()?.isActive ? 'deactivate' : 'activate' }}
        </button>
        <button class="btn btn-secondary"
          [disabled]="!tree.treeModel.getFocusedNode()"
          (click)="tree.treeModel.getFocusedNode().toggleExpanded()">
          {{ tree.treeModel.getFocusedNode()?.isExpanded ? 'collapse' : 'expand' }}
        </button>
        <button class="btn btn-secondary"
          [disabled]="!tree.treeModel.getFocusedNode()"
          (click)="tree.treeModel.getFocusedNode().blur()">
          blur
        </button>
        <button class="btn btn-secondary"
          (click)="addNode(tree)">
          Add Node
        </button>
        <button class="btn btn-secondary"
          (click)="activateSubSub(tree)">
          Activate inner node
        </button>
        <p></p>
        <button class="btn btn-secondary"
          (click)="tree.treeModel.expandAll()">
          Expand All
        </button>
        <button class="btn btn-secondary"
          (click)="tree.treeModel.collapseAll()">
          Collapse All
        </button>
        <button class="btn btn-secondary"
          (click)="activeNodes(tree.treeModel)">
          getActiveNodes()
        </button>
      </div>
    </div>
  </div>
</div>