<br>
<div class="card">
  <div class="card-header">
    {{titlePeca}}
  </div>
  <div *ngIf="novaPeca == false"class="card-body">
      
  </div>

  
  <div *ngIf="novaPeca ==false"class="card-body">
    <form>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputPassword1">Código da Peça</label>
          <input type="text" class="form-control" placeholder="Código">
        </div>
        <div class="col-md-4 form-group">
          <label for="exampleInputEmail1">Nome da Peça</label>
          <input type="text" class="form-control" id="text" placeholder="Nome da Peça">
        </div>
        <div class="col-md-2 form-group">
          <label for="exampleInputPassword1">Marca</label>
          <input type="text" class="form-control"  placeholder="Marca">
        </div>
        <div class="col-md-2 form-group">
          <label for="exampleInputPassword1">Quantidade</label>
          <input type="number" class="form-control" placeholder="Quantidade">
        </div>
        <div class="col-md-2 form-group">
          <label for="exampleInputPassword1">Valor da Peça</label>
          <input type="text" class="form-control" placeholder="Valor da Peça">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="exampleInputPassword1">Código de Barra</label>
          <input type="text" class="form-control" placeholder="Código de Barra">
        </div>
        <div class="col-md-2 form-group">
          <label for="exampleInputPassword1">Categoria</label>
          <input type="text" class="form-control" placeholder="Categoria">
        </div>
        <div class="col-md-3 form-group">
          <label for="exampleInputPassword1">Veículo</label>
          <input type="text" class="form-control" placeholder="Veículo">
        </div>
        <div class="col-md-2 form-group">
          <label for="exampleInputPassword1">Ano/Modelo</label>
          <input type="text" class="form-control" placeholder="Ano/Modelo">
        </div>
        <div class="col-md-2 form-group">
          <label for="exampleInputPassword1">Prateleira</label>
          <input type="text" class="form-control" placeholder="Prateleira">
        </div>
      </div>
    </form>
    <!-- <div class="imagem-peca"></div> -->
    <div class="botoes">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
</div>